<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404.css">
    <title>E-Com Site</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add-products">Add Products</a></li>
        </ul>
    </nav>

    <div class="banner"><H1>404 Error Page Not Found</H1></div>
    
</body>
</html>
