<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/form.css">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <form action="/submit" method="POST"  class="form">
      <h1>Add Products</h1>
      <input type="text" name="data" required>
      <button>Submit</button>
    </form>
    <form  class="form2">
      
    <ul>
      
  </ul>
    </form>
  </div>

</body>

</html>