<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css">

    <title>E-Com Site</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add-products">Add Products</a></li>
        </ul>
    </nav>
  <div class="container">
    <form action="/submit" method="POST"  class="form">
      <h1>Add Products</h1>
      <input type="text" name="data" required>
      <button>Submit</button>
    </form>
    
  </div>

</body>

</html>
